

<main class="blog-post-single">
    <div class="container">
        <h1 class="post-title wow fadeInUp"><%= item.name %></h1>
        <h5>Item ID: <%= item.id %></h5>        
        <div class="row">
            <div class="col-md-8 blog-post-wrapper">
                <div class="post-header wow fadeInUp">
                    <img src="<%= item.pic_path %>" alt="blog post" class="post-featured-image">
                    <p class="post-date">By <%= item.owner %></p>
                </div>
                <div class="post-content wow fadeInUp">
                    <h4>Auction Date: 
                        <% if (item.sold == true) { %>
                            SOLD
                        <% }  else { %>
                            <% if (item.auctionDate) { %>
                                <%= item.auctionDate %> | Starting Price: £<%= item.cost %> 
                            <% } else { %>
                                Starting Soon | Starting Price: £<%= item.cost %> 
                            <% } %>
                        <% } %>
                    </h4>
                        
                    <pre style="font-family: inherit; font-size: inherit;"><%= item.description %></pre>
                    <% if (item.sold == false ) { %>
                        
                        <% if (user != null) { %>
                            <% if (user.admin == false) { %>
                                <% if (user._id && bidded == true) { %>
                                    <blockquote class="blockquote wow fadeInUp" id="bid_now">
                                            <p>Here's your user ID- <%= user.id %> you will need to make your bid here- <a href="https://wa.me/2347017125624/?text=!join%20<%=  item.id %>%20<%= user.id %>" target="_blank"  style="color: #f7b500; text-decoration: none;">Bid now</a></p>
                                    </blockquote>
                                <% } else {%>
                                    <blockquote class="blockquote wow fadeInUp" id="bid_now">
                                        <p>To Take part of the auction by biding, click on the link here - <a href="/bid/<%= item._id %>" style="color: #f7b500; text-decoration: none;">Bid</a>.</p>
                                    </blockquote>
                                <% } %>
                            <% } %>
                        <% } else { %>
                            <blockquote class="blockquote wow fadeInUp" id="bid_now">
                                <p>To Take part of the auction by biding, click on the link here - <a href="/bid/<%= item._id %>" style="color: #f7b500; text-decoration: none;">Bid</a>.</p>
                            </blockquote>

                        <% } %>
                    <% } %>
                </div>
                <div class="post-tags wow fadeInUp">
                  
                </div>

              
            </div>
            <div class="col-md-4">
                <div class="sidebar-widget wow fadeInUp">
                    <h5 class="widget-title">Share</h5>
                    <div class="widget-content">
                        <nav class="social-links">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=<%- encodeURIComponent(item_url) %>" target="_blank">Fb</a>
                            <a href="https://twitter.com/intent/tweet?url=<%- encodeURIComponent(item_url) %>" target="_blank">Tw</a>
                            <a href="https://wa.me/?text=<%- encodeURIComponent(item_url) %>" target="_blank">Wa</a>
                        </nav>
                    </div>
                </div>
                <div class="sidebar-widget wow fadeInUp">
                    <h5 class="widget-title">Gallery</h5>
                    <div class="widget-content">
                        <div class="gallery">
                            <% if (item.gallery_paths.length > 0) { %>
                                <% item.gallery_paths.forEach(path => { %>
                             
                                <a href="<%= path %>" class="gallery-grid-item" data-fancybox="widget-gallery">
                                    <img src="<%= path %>" alt="gallery item">
                                </a>
                                <% }) %>
                            <% } else { %>
                                    <p>No Images Found</p>
                            <% } %>
                            
                        </div>
                    </div>
                    <a href="/item-gallery/<%= item._id %>" style="color: black; text-decoration: none;">View in Full size</a>

                </div>
                <div class="sidebar-widget wow fadeInUp">
                    <h5 class="widget-title">Other Items by <%= item.owner %></h5>
                    <div class="widget-content">
                        <ul class="category-list">
                            <% if (OtherItems.length > 0) { %>
                             
                                <% OtherItems.forEach(item => { %>
                                    <li><a href="/item/<%= item._id %>"><%= item.name %></a></li>
                                <% }) %>
                            <% } else { %>
                                <li>No other items</li>
                            <% } %>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="../../assets/vendors/popper.js/popper.min.js"></script>
    <script src="../../assets/vendors/wowjs/wow.min.js"></script>
    <script src="../../assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../assets/vendors/fancybox/jquery.fancybox.min.js"></script>
    <script src="../../assets/js/main.js"></script>
    <script>
        new WOW().init();
</script>